/***********************************************************************************************/
/*  COMING SOON PAGE */
/***********************************************************************************************/

.section-coming-countdown-bg {
  background: transparent;
  background-image: url("../images/coming-soon.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  display: block;
  clear: both;
  position: relative;
  overflow: hidden;
  padding: 220px 0;
}

#coming_countdown {
  font-size: 32px;
  clear: both;
  width: 900px;
  max-width: 100%;
  margin: 30px auto;

  .countdown_container {
    text-align: center;
    display: block;
    float: left;
    width: 25%;

    span.count_number {
      display: block;
      font-size: 90px;
      line-height: 100px;
      font-weight: 600;
      font-family: $heading-font;
      color: $light-text-color;
    }
    span.count_text {
      display: block;
      font-size: 32px;
      line-height: 42px;
      font-weight: 400;
      font-family: $body-font;
      color: $light-text-color;
      text-transform: uppercase;
    }
  }
}
