/*----- SECTION CONTACT PAGE----*/

.section-contact-block {
  position: relative;
  overflow: hidden;

  .content-block {
    padding: 0 48px 0 0;
  }

  .contact-title {
    font-size: 24px;
    border-bottom: 3px solid #eeeeee;
    color: #5c5c5c;
    padding-bottom: 15px;
    position: relative;

    &:after {
      bottom: -3px;
      content: "";
      height: 3px;
      left: 0;
      position: absolute;
      width: 32px;
      background: $primary-color;
    }
  }

  .contact-info {
    li {
      margin-bottom: 24px;
    }

    .icon-container {
      display: inline-block;
      background: $primary-color;
      color: $light-text-color;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 14px;
      text-align: center;
      margin-right: 5px;
    }

    address {
      display: inline-block;
    }

    a {
      color: $default-font-color;

      &:hover {
        color: $primary-color;
      }
    }
  }

  // Contact Form

  .contact-form-block {
    padding: 0 0 0 0px;
  }

  #contact-form {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"] {
      border: 0px;
      border-bottom: 1px solid $border-color;
      line-height: 42px;
      height: 42px;
      margin-bottom: 24px;
      padding-left: 2px;
      @include round(0);
      @include drop-shadow(0, 0, 0, 0);
      @include inner-shadow(0, 0, 0, 0);
      @include transition(0.3s);
      &:focus {
        @include drop-shadow(0, 0, 0, 0);
        @include inner-shadow(0, 0, 0, 0);
        border: 0px;
        border-bottom: 1px solid lighten($dark-border-color, 50%);
      }
    }

    textarea {
      border: 0px;
      border-bottom: 1px solid $border-color;
      padding-left: 2px;
      margin-bottom: 24px;
      @include round(0);
      @include drop-shadow(0, 0, 0, 0);
      @include inner-shadow(0, 0, 0, 0);
      @include transition(0.3s);
      &:focus {
        @include drop-shadow(0, 0, 0, 0);
        @include inner-shadow(0, 0, 0, 0);
        border: 0px;
        border-bottom: 1px solid lighten($dark-border-color, 50%);
      }
    }
  }
}
