.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $dark-text-color;
  padding-top: 0;
  margin-bottom: 24px;
  height: auto;

  &__featured_image {
    position: relative;
    width: 100%;
    height: auto;
    top: 0%;
    left: 0%;
    margin-top: 0%;
    @include round(8px);
  }

  &__info {
    padding: 1.5rem 18px 1rem 18px;
    border: 2px solid transparent;
    background-color: darken($light-bg, 3%);
    @include round(8px);
    flex-direction: column;

    &:hover {
      .btn--product-card {
        display: block;
      }
    }
  }

  &__title {
    margin: 2.5rem 0 1rem 0;
    font-size: 1.2rem;
  }

  &__description {
    font-size: 0.85rem;
    font-weight: 400;
    margin-top: 1rem;
    line-height: 1.4rem;
  }

  &__price_color {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

// Product color is a element
.product-color {
  border-radius: 100%;
  display: flex;

  &__circle {
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 100%;
    background: #000000;
    margin-right: 8px;
  }

  &--black {
    background: #000000;
  }

  &--brown {
    background: #745252;
  }

  &--dark_gray {
    background: #5b626c;
  }

  &--green {
    background: green;
  }

  &--light_brown {
    background: #d1ccc0;
  }

  &--pink {
    background: #eec0b8;
  }

  &--turquoise {
    background: #5eaeb2;
  }

  &--yellow {
    background: #e0b84d;
  }
}

// Product Currency.

.product-price {
  letter-spacing: 0.02rem;
  font-size: 1.4rem;
  font-weight: 800;
  position: relative;
  padding-left: 16px;
  &__currency {
    font-size: 1.1rem;
    position: absolute;
    top: 2px;
    left: 0;
    text-align: center;
  }
}

.products {
  &__show_more_container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
}

// Responsive

@media (min-width: 40rem) {
  .product-card {
    padding-top: 120px;
    margin-bottom: 100px;
    &__featured_image {
      position: relative;
      width: 60%;
      top: 0%;
      left: 0%;
      margin-top: -55%;
      margin-left: 20%;
      margin-right: 20%;
    }
  }
}

// Large screen
@media (min-width: 56rem) {
  .product-card {
    padding-top: 120px;
    margin-bottom: 100px;

    &__featured_image {
      position: relative;
      width: 80%;
      top: 0%;
      left: 0%;
      margin-top: -95%;
      margin-left: 10%;
      margin-right: 10%;
    }

    &__info {
      padding: 3.5rem 18px 1rem 18px;
    }
  }
}
