/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (max-width: 1200px) {
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
  nav {
    flex-direction: column;
    position: relative;
  }

  .header_nav {
    display: none;

    li {
      display: block;
      margin-left: 0rem;

      a {
        display: block;
      }
    }
  }

  box-icon {
    display: block;
    position: absolute;
    top: 12px;
    right: 28px;
    cursor: pointer;
  }

  .showmenu {
    display: block;
  }
}
