/***********************************************************************************************/
/* 13. SIDEBAR & WIDGETS */
/***********************************************************************************************/

.widget {
  background: $blog-bg-color;
  margin-bottom: 30px;
  padding: 32px 24px;
  border: 1px solid #fafafa;
  -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.1);

  .badge {
    color: $light-text-color;
    background: $primary-color;
  }
}

.widget-title {
  display: block;
  position: relative;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 12px;
  text-transform: capitalize;
  font-family: $heading-font;
  letter-spacing: 0em;
  font-weight: 600;
  color: $dark-text-color;
  border-bottom: 1px solid #cacaca;

  span {
    font-style: 400;
    color: $heading-font-color;
  }
}

.widget ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.widget ul li {
  padding: 5px 0;
}
.widget ul li a {
  color: $default-font-color;

  &:hover {
    color: $primary-color;
  }
}

// Search Widget.

.search-form {
  margin: 0 0 12px 0;

  span.input-group-addon {
    @include round(0px);
    background: $primary-btn-bg;
    border-right: 0px;
    color: $light-text-color;
    font-weight: bold;
    padding: 0 12px;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 42px;
    z-index: 1000;
  }

  input[type="text"] {
    box-shadow: 0;

    margin-bottom: 0;
    font-size: 14px;
    padding-left: 5px;
    height: 42px;
    border: 0px;
    box-shadow: none;
    width: 100%;
    @include transition(0.3s);
    &:focus {
      box-shadow: none;
    }
  }
}

// Category.

.widget-post-category {
  margin: 11px auto;

  li {
    margin: 5px 0;
    padding: 0;
    text-transform: capitalize;

    a {
      font-size: inherit;
      position: relative;
      @include transition(0.3s);
    }
  }
}

// Category.

.widget-service-category {
  margin: 11px auto;

  li {
    margin: 3px 0;
    padding: 0;

    a {
      font-size: inherit;
      position: relative;
      @include transition(0.3s);
    }
  }
}

// Recent Posts.

.single-recent-post {
  margin-bottom: 16px;
  overflow: hidden;

  a {
    color: $default-font-color;
    margin-bottom: 3px;
    display: block;
    &:hover {
      color: $primary-color;
    }
  }

  span {
    i {
      font-size: 16px;
    }

    font-size: 14px;
    display: block;
    color: $primary-color;
    padding-left: 2px;
  }
}

.single-post-thumb {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 5px;
  width: 100px;
}

// Tags.

.widget-recent-tags {
  margin: 0 auto;

  li {
    margin: 0px 5px 7px 0px;
    float: left;

    a {
      padding: 3px 7px;
      text-transform: capitalize;
      text-align: center;
      border: 1px solid $primary-color;
      display: block;
      background: transparent;
      @include transition(all, 0.3s);

      &:hover,
      &:active {
        background: transparent;
        border: 1px solid $primary-color;
        background: $pure-white-bg;
      }
    }
  }
}
