.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem; // shorthand
  align-items: baseline;
  // column-gap: 10px;
  // row-gap: 10px;

  &--products {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item {
  background: blue;
  color: #fff;
  font-size: 12px;
  padding: 20px;
  border: 1px solid yellow;
}

// Tablet.
@media (min-width: 40rem) {
  .container {
    &--products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// Large screen
@media (min-width: 56rem) {
  .container {
    &--products {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
