.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem; // shorthand
  align-items: baseline;
  // column-gap: 10px;
  // row-gap: 10px;

  &--products {
    grid-template-columns: repeat(4, 1fr);
  }
}

.item {
  background: blue;
  color: #fff;
  font-size: 12px;
  padding: 20px;
  border: 1px solid yellow;
}

/* Extra big screen devices (1200px and above) */
@media only screen and (max-width: 992px) {
  .container {
    &--products {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {
  .container {
    &--products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* For extremely small screen devices (479px and below) */
@media only screen and (max-width: 600px) {
  .container {
    &--products {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
